<!DOCTYPE html>
<html>
<head>
    <title>Device List</title>
</head>
<body>
    <h2>Connected Devices</h2>
    <table border="1">
        <tr>
            <th>Device Name</th>
            <th>Device ID</th>
            <th>Connected Date</th>
            <th>Data Usage</th>
            <th>Status</th>
        </tr>
        {% for d in devices %}
        <tr>
            <td>{{ d[0] }}</td>
            <td>{{ d[1] }}</td>
            <td>{{ d[2] }}</td>
            <td>{{ d[3] }}</td>
            <td>{{ 'Connected' if d[4] else 'Disconnected' }}</td>
        </tr>
        {% endfor %}
    </table>
    <br><a href="/">Add New Device</a>
</body>
</html>
