<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
</head>
<body>
    <div class="box">
        <div class="icon-circle">
            <img src="{{ url_for('static', filename='css/images/success-check.jpg') }}" alt="success">
        </div>
        <h2>Verification Successful!</h2>
        <div class="info-boxes">
            <div class="info">
                <div class="label">Status</div>
                <div class="value">Connected</div>
            </div>
            <div class="info">
                <div class="label">Internet Speed</div>
                <div class="value">
                    {% if speed == "No Internet" %}
                      No Internet
                    {% else %}
                        {{ speed }} Mbps
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
